/* Enter your custom styles here */
.filter1 {
    padding: 5px 20px 0 0;
}

.filter2 {
    padding: 5px 20px 0 0;
}

.filter3 {
    padding: 8px 20px 0 0;
}

.filter4 {
    padding: 8px 20px 0 0;
}

.filter5 {
    padding: 5px 20px 0 0;
}

.filter6 {
    padding: 8px 20px 0 0;
}

.inputFilter {
    width: 350px !important;
    height: 40px;
}

html.sap-tablet .sapMDialog,
html.sap-desktop .sapMDialog {
    min-width: 35rem;
}
